{
  "actions": {
    "/helloworld": "echo hello world",
    "/nosuchcommand": "thisCommandDoesNotExist",
    "/showresponse": {
      "command": "echo my uid is $webhook_uid", 
      "respond": true
    }
  }
}
